form {

    display: flex;
    align-items: center;

    .edit {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #46ad82;
        color: #37474f;

        &:focus {
            outline: none;
            border: 1px solid #81c784;
        }
    }
}